body {
    background-image: url("../images/tiles.jpg");
    background-size: cover;
    font-family: "Raleway", sans-serif;

}
.container {
    background:rgb(253, 252, 231);
    border: white;
    border-width: thin;
    border-style: solid;
    margin: auto;
    width: 55%;
    height: 100%;
    text-align: center;
}

.header {
    font-size: 60px;
}

hr {
    width: 75%;
}

.rules {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 62%;
    line-height: 20px;
}

h2 {
    font-size: 25px;
    font-weight: bolder;
}

p {
    font-size: 15px;

}

#crystals-area {
    padding-top: 20px;
    padding-bottom: 10px;
}

img {
    width: 100px;
    height: 100px;
}

#targetNum {
    width: 20%;
	display: inline-block;
	border-radius: 25px;
	font-weight: 900;
    font-size: 50px;
    color: black;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#score-total {
    width: 20%;
	display: inline-block;
	border-radius: 25px;
	font-weight: 900;
	font-size: 50px;
    color: black;
    margin-bottom: -5px;
    padding-bottom: 5px;
}


.win {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    color: navy;
}
.loss {
    padding-bottom: 10px;
    font-size: 30px;
    color: navy;
}


